<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uspesno Brisanje</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin/hello">Hotel Booking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/rezervacija-all">Pregled svih rezervacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/drzava-all-unos">Unos novog hotela</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/hotel-all-pdf">Generesi izvestaj hotela</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/hotel-all-generate">Generesi izvestaj rezervacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/drzava-all-delete">Obrisi drzavu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/grad-all-update">Izmeni grad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav> <br>
    <h1>Uspesno brisanje rezervacije!</h1>
</body>
</html>